<form action="/result" class="form-group" id="user-input">
  <label for="word-input">Enter Word:</label>
  <input type="text" name="word-input" class="form-control" id="word-input">
  <label for="string-input">Enter Text:</label>
  <textarea type="text" name="string-input" rows="5" cols="50" class="form-control"></textarea>
  <br>
  <button type="submit" class="btn" id="search">Submit</button>
</form>
